PackageIdentifier: EllipseSoftware.Bast
PackageVersion: {{VERSION}}
MinimumOSVersion: 10.0.22000.0
InstallerType: zip
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/ellipse-software/bast/releases/download/v{{VERSION}}/bast_{{VERSION}}_windows_amd64.zip
    InstallerSha256: {{AMD64_SHA256}}
    NestedInstallerType: portable
    NestedInstallerFiles:
      - RelativeFilePath: bast_{{VERSION}}_windows_amd64\bast.exe
        PortableCommandAlias: bast
  - Architecture: arm64
    InstallerUrl: https://github.com/ellipse-software/bast/releases/download/v{{VERSION}}/bast_{{VERSION}}_windows_arm64.zip
    InstallerSha256: {{ARM64_SHA256}}
    NestedInstallerType: portable
    NestedInstallerFiles:
      - RelativeFilePath: bast_{{VERSION}}_windows_arm64\bast.exe
        PortableCommandAlias: bast
ManifestType: installer
ManifestVersion: 1.10.0
